* {
    font-family: 'Poppins', sans-serif;
    color: #404040;
}

header {
    padding: 20px 0px;
}

header .title {
    font-weight: 600;
    font-size: 2em;
}

header a {
    text-decoration: inherit;
    color: inherit;
}

header .image {
    margin-right: 20px;
}

#content {
    margin-top: 20px;
}

#content a {
    color: inherit;
    text-decoration: inherit;
}

#content .menu-item {
    transition: 0.1s;
    cursor: pointer;
}

#content .menu-item:hover {
    font-weight: 600;
}

#content .menu-item .icon {
    font-size: 30px;
}

h2.title {
    font-size: 30px;
    font-weight: 600;
}

.project-item:last-child {
    margin-bottom: 0px;
}

.project-item {
    margin-bottom: 30px;
}

.project-item .number {
    border-radius: 50%;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    background: #e0e0e0;
}

.project-item .number span {
    font-weight: bold;
}

.project-item .project-description {
    width: calc(100% - 60px);
}

.project-item .project-description h3 {
    margin: 0;
    font-size: 20px;
}

.project-item .project-description h6 {
    margin: 0;
    font-size: 14px;
}

.project-item .project-description p {
    margin-top: 8px;
    font-size: 14px;
}

#contact {
    font-size: 14px;
}


/* Skill Items */

.skill-item {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.skill-wrap {
    margin: 0px !important;
    padding: 0px !important;
}

.skill-item:first-child {
    margin-left: 0px;
}

.skill-item span {
    font-size: 14px;
    font-weight: 600;
}